.header-container {
  position: fixed;
  top: 10px;
  left: 0;
  height: 99%;
  width: 50px;  
  overflow: visible;
  z-index: 1000;
}

.vertical-header {
  position: relative; 
  height: 100%;
  width: 50px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-link, .notification-link {
  height: 50px;
  width: 190px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible;
  margin-bottom: 5px; 
  transition: transform 0.3s ease-out;
  transform: translateX(-140px);  
  border-radius: 0px 15px 15px 0px; 
}

.header-link:hover, .notification-link:hover {
  transform: translateX(0); 
}

.icon {
  position: absolute;
  right: 0; 
  width: 30px; 
  text-align: center;
  margin-right: 10px;
}

.link-text {
  flex-grow: 1;
  position: absolute;
  left: 5px; 
  white-space: nowrap;
  opacity: 0;  
  transition: opacity 0.3s ease;
  margin-left: 10px;
}

.header-link:hover .link-text, .notification-link:hover .link-text {
  opacity: 1; 
}

.header-link a, .notification-link a {
  text-decoration: none;
  color: #000;  
  transition: color 0.3s ease;
}

.header-link:hover a, .notification-link:hover a {
  color: #007bff;
}

.logout-link {
  position: absolute;
  bottom: 10px;
  width: 190px; 
  transform: translateX(-140);
}

.logout-link:hover {
  position: absolute;
  bottom: 10px;
  width: 220px; 
  transform: translateX(0); 
}